<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../static/img/favicon.ico">

    <title>UMBC Watch Dawg</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/report.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
		  <!--{{if webpage active}-->
            <li role="presentation" ><a href="#">Home</a></li>
			<!--{else}-->			
            <li role="presentation" class="active"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Innovate Good</h3>
      </div>

      <div class="jumbotron">
        <b><j2>About UMBC Watch Dawg</j2></b>
		<p>      </p>
		<p><b>Our Mission:</b></p>
		<p class="lead"><j1>This web application is made for UMBC students and visitors to document and report crimes that 
		happened on campus.  Our mission is to provide justice for all crimes and make UMBC a safer place.  When the police
		are first contacted, the witness does not provide all of the infromation and are later questioned when the police arrive.  This web application 
		is designed to help the witness remeber what actually happened before they are influenced by others or are influenced with time.</j1></p>
		<p> </p>
		<p><b>Facts:</b></p>
		<p><j1>-50% of crimes go unreported</j1></p>
		<p><j1>-More than 2,000 false convictions in past 23 years</j1></p>
		<p><j1>-Witnesses can be subject to memory distortions that can alter their account of events</j1></p>
	  <p><j1>-Only a portion of the memor of the incident is tranfered from short term memory to long term (permanent) memory</j1></p>
	  </div>

      <div class="row marketing">
        <div class="col-lg-6">
        </div>

        <!--<div class="col-lg-6"> -->
        <!--</div>-->
      </div>

      <footer class="footer">
	  <f1>Application Usage</f1>
          <p>If you are a victim or witness of a crime the first thing that you should do is call the police.  This web application is to be used to document the details of the crime that police may ask you questions about later. It is crucial to document all of the details and events of the time because witnesses start to forget and change details of the event only minutes after the incident.  Eye wtinesses often are influenced by other people so it is important to document all of the details before you are influenced or forget.</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
