<!DOCTYPE html>
<html lang="en">
  <body>
      <div class="jumbotron">
        <b><j2>Contact UMBC Police</j2></b>
		<p><b>Phone Number:</b></p>
		<p><j1>410-455-5555</j1></p>
		<p><b>Email:</b></p>
		<p><j1>police@umbc.edu</j1></p>
		<p><b>Fax:</b></p>
		<p><j1>410-455-1087</j1></p>
</div>

      <div class="row marketing">
        <div class="col-lg-6">
        </div>

        <!--<div class="col-lg-6"> -->
        <!--</div>-->
      </div>

      <footer class="footer">
	  <f1>Application Usage</f1>
          <p>If you are a victim or witness of a crime the first thing that you should do is call the police.  This web application is to be used to document the details of the crime that police may ask you questions about later. It is crucial to document all of the details and events of the time because witnesses start to forget and change details of the event only minutes after the incident.  Eye wtinesses often are influenced by other people so it is important to document all of the details before you are influenced or forget.</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
