{% extends "layout.html" %}
{% block body %}
<div class="container">
    <form class="form-signin" action="{% url 'questions' %}">
    <h2 class="form-signin-heading">Check All Elements Involved</h2>
    <div class="checkbox">
      <input type="checkbox" value="Vehicle"> Vehicle
      <p> <p>
      <input type="checkbox" value="Weapon" > Weapon
      <p> <p>
      <input type="checkbox" value="Single Person" > Single Person
      <p> <p>
      <input type="checkbox" value="Group People" > Group of People
    </div>	
    <input type="crime" id="inputCrime" class="form-control" placeholder="Other (max 100 characters)" autofocus>
    <p> </p>
    <button class="btn btn-lg btn-block" type="submit">Continue</button>
  </form>
</div>
{% endblock %}
