<!DOCTYPE html>
<html lang="en">
 
  <body>

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Check All Elements Involved</h2>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="Vehicle"> Vehicle
			<p> <p>
			<input type="checkbox" value="Weapon" > Weapon
			<p> <p>
			<input type="checkbox" value="Single Person" > Single Person
			<p> <p>
			<input type="checkbox" value="Group People" > Group of People
          </label>
        </div>
		
		<input type="crime" id="inputCrime" class="form-control" placeholder="Other (max 100 characters)" required autofocus>
		<p> </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
